<!-- edit_admission.html -->
{% include "header.html" %}

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Edit Admission Details <a class="pull-right btn btn-success" href="{{ url_for('view_patient', patient_id=patient_id) }}">Back</a></h2>
            <form method="POST">
                <div class="form-group">
                    <label for="admission_date">Admission Date:</label>
                    <input type="date" class="form-control" id="admission_date" name="admission_date" value="{{ admission.admission_date }}">
                </div>
                <div class="form-group">
                    <label for="discharge_date">Discharge Date:</label>
                    <input type="date" class="form-control" id="discharge_date" name="discharge_date" value="{{ admission.discharge_date }}">
                </div>
                <div class="form-group">
                    <label for="room_number">Room Number:</label>
                    <input type="text" class="form-control" id="room_number" name="room_number" value="{{ admission.room_number }}">
                </div>
                <button type="submit" class="btn btn-primary">Update Admission Details</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% include "footer.html" %}
